.lista-container {
    width: 90%;
    margin: auto;
    padding-top: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header h1 {
    color: #333;
    font-size: 2em;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table thead {
    background-color: #007bff;
    color: white;
}

.table thead th {
    padding: 10px;
    text-align: left;
}

.table tbody td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table tbody tr:hover {
    background-color: #ddd;
}

.btn {
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-secondary {
    background-color: #6c757d;
}

.btn:hover {
    background-color: #0056b3;
}

.btn-secondary:hover {
    background-color: #545b62;
}
